.callisto/.cache/
workspace/sysLMRestore/
tools/addmusick/SPCs/
tools/mesen2-expanded/
tools/mesen2-expanded-src/
tools/mesen2-expanded/mcp-server.log
tools/test/mesen/.automation/
tools/test/savestates/*.mst
smwmemory.json
tools/pixi/.dependencies
